In [1]:
import os
import pandas as pd
import numpy as np


import surprise

from surprise import SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBasic, KNNBaseline, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering
from surprise.model_selection import train_test_split, cross_validate, GridSearchCV  #not as same as the cross_validation from scikit learn?
from surprise import Reader, Dataset, accuracy
from surprise import dump

from sklearn.metrics.pairwise import cosine_similarity

from sklearn import preprocessing

#libraries for data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
%matplotlib inline
import seaborn as sns
#sns.set_palette('Set2')
sns.set_color_codes("pastel")

# Load built in data from surprise library

In [2]:
data = surprise.Dataset.load_builtin('ml-100k')   #Dataset.load_builtin('ml-100k')

In [3]:
df = pd.DataFrame(data.raw_ratings, columns=["user", "item", "rate", "id"])
del df["id"]
df.head(10)

  user item  rate
0  196  242   3.0
1  186  302   3.0
2   22  377   1.0
3  244   51   2.0
4  166  346   1.0
5  298  474   4.0
6  115  265   2.0
7  253  465   5.0
8  305  451   3.0
9    6   86   3.0

# Data exploration

In [4]:
print("number of users: ", df.user.nunique())
print("number of movies: ", df.item.nunique())

number of users:  943
number of movies:  1682

In [5]:
np.sort( df.rate.unique() )

array([1., 2., 3., 4., 5.])

In [6]:
df.isnull().sum()

user    0
item    0
rate    0
dtype: int64

In [50]:
df.groupby('item')[['rate']].agg(['count', 'mean'])

      rate
     count      mean
item
1      452  3.878319
10      89  3.831461
100    508  4.155512
1000    10  3.000000
1001    17  2.000000
...    ...       ...
995     31  3.161290
996     14  2.500000
997     16  2.125000
998     16  2.562500
999     10  2.800000

[1682 rows x 2 columns]

In [51]:
df.groupby('item')[['rate']].agg(['count', 'mean']).sort_values( by=('rate',  'mean'), ascending=False)[:5]

      rate
     count mean
item
1500     2  5.0
1293     3  5.0
1189     3  5.0
1653     1  5.0
1467     2  5.0

mean_rating = df.groupby('item')[['rate']].mean()
lowest_rated = mean_rating['rate'].idxmin()
df.loc[df['item'] == lowest_rated]

In [53]:
df.groupby('item')[['rate']].agg(['count', 'mean']).sort_values(by=('rate', 'mean'), ascending=True)[:5]

      rate
     count mean
item
1408     3  1.0
1671     1  1.0
1557     1  1.0
599      1  1.0
1678     1  1.0

highest_rated = mean_rating['rate'].idxmax()
df.loc[df['item'] == highest_rated]

### ratings based on bayesian average

In [57]:
movie_stats = df.groupby('item')[['rate']].agg(['count', 'mean'])
movie_stats.columns = movie_stats.columns.droplevel()
movie_stats

      count      mean
item
1       452  3.878319
10       89  3.831461
100     508  4.155512
1000     10  3.000000
1001     17  2.000000
...     ...       ...
995      31  3.161290
996      14  2.500000
997      16  2.125000
998      16  2.562500
999      10  2.800000

[1682 rows x 2 columns]

In [60]:
C = movie_stats['count'].mean()
m = movie_stats['mean'].mean()

def bayesian_avg(ratings):
    bayesian_avg = (C*m+ratings.sum())/(C+ratings.count())
    return bayesian_avg

bayesian_avg_ratings = df.groupby('item')['rate'].agg(bayesian_avg).reset_index()
bayesian_avg_ratings.columns = ['item', 'bayesian_avg']
movie_stats = movie_stats.merge(bayesian_avg_ratings, on='item')

In [66]:
movie_stats

      item  count      mean  bayesian_avg
0        1    452  3.878319      3.785060
1       10     89  3.831461      3.528929
2      100    508  4.155512      4.042414
3     1000     10  3.000000      3.065095
4     1001     17  2.000000      2.836777
...    ...    ...       ...           ...
1677   995     31  3.161290      3.105260
1678   996     14  2.500000      2.966252
1679   997     16  2.125000      2.874373
1680   998     16  2.562500      2.967146
1681   999     10  2.800000      3.036299

[1682 rows x 4 columns]

In [68]:
movie_stats.sort_values('bayesian_avg', ascending=False).head()

     item  count      mean  bayesian_avg
1128   50    583  4.358491      4.239812
926   318    298  4.466443      4.235186
1283   64    283  4.445230      4.207526
1109  483    243  4.456790      4.185378
223    12    267  4.385768      4.147243

# Collaborative filtering

## user-item matrix  (user utility matrix)

In [69]:
df_table = df.pivot_table(index='user', columns='item',values='rate')
df_table

item,1,10,100,1000,1001,1002,1003,1004,1005,1006,...,990,991,992,993,994,995,996,997,998,999
user,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,4.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,4.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df_pvt = df_table.fillna(0)
df_pvt

item,1,10,100,1000,1001,1002,1003,1004,1005,1006,...,990,991,992,993,994,995,996,997,998,999
user,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## sparsity calculation

In [71]:
df_table.values

np.isnan( df_table.values  ).sum()

np.prod(df_table.values.shape)

np.prod(df_table.shape)

#sparsity of matrix = Number of Empty cells / Total Number of cells.
sparsity = 1 - np.isnan(df_table.values).sum() / np.prod(df_table.shape)
print("Sparsity: ", '{:2.2%}'.format(sparsity) )

Sparsity:  6.30%

Only 6.3% of cells in the user-item matrix are populated with ratings. A general rule of thumb is that your matrix sparsity should be no lower than 0.5% to generate decent results.

## similarity based on cosine metrics

In [72]:
df_item = df.pivot_table(index='item', columns='user',values='rate').fillna(0)

item_similarity = pd.DataFrame(cosine_similarity(df_item), index=df_item.index, columns=df_item.index)
item_similarity

item,1,10,100,1000,1001,1002,1003,1004,1005,1006,...,990,991,992,993,994,995,996,997,998,999
item,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.273935,0.630601,0.114364,0.109701,0.084998,0.100452,0.061399,0.093729,0.101029,...,0.085165,0.091251,0.070873,0.353507,0.060461,0.085890,0.098793,0.141426,0.138101,0.099471
10,0.273935,1.000000,0.336233,0.044153,0.053510,0.025705,0.046341,0.000000,0.224322,0.130158,...,0.085546,0.081927,0.067685,0.027119,0.048401,0.123714,0.007909,0.033473,0.121554,0.000000
100,0.630601,0.336233,1.000000,0.084698,0.144486,0.084889,0.061514,0.097603,0.153229,0.168087,...,0.089523,0.098840,0.075603,0.191055,0.090889,0.119886,0.053259,0.139800,0.127146,0.038349
1000,0.114364,0.044153,0.084698,1.000000,0.381626,0.198191,0.044662,0.000000,0.000000,0.042403,...,0.021277,0.000000,0.456630,0.104545,0.000000,0.000000,0.365864,0.129040,0.288370,0.521862
1001,0.109701,0.053510,0.144486,0.381626,1.000000,0.192154,0.014434,0.000000,0.000000,0.000000,...,0.025786,0.016116,0.379473,0.081088,0.000000,0.005315,0.128093,0.260643,0.183478,0.210819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.085890,0.123714,0.119886,0.000000,0.005315,0.008511,0.046029,0.000000,0.058251,0.032776,...,0.106898,0.154184,0.033615,0.014366,0.128201,1.000000,0.000000,0.016624,0.027862,0.000000
996,0.098793,0.007909,0.053259,0.365864,0.128093,0.015778,0.142220,0.010056,0.005400,0.006751,...,0.000000,0.000000,0.000000,0.123177,0.014854,0.000000,1.000000,0.154092,0.137742,0.301202
997,0.141426,0.033473,0.139800,0.129040,0.260643,0.016695,0.150482,0.138329,0.005713,0.007144,...,0.032260,0.050408,0.000000,0.098631,0.015717,0.016624,0.154092,1.000000,0.081981,0.186824
998,0.138101,0.121554,0.127146,0.288370,0.183478,0.083943,0.176552,0.000000,0.143636,0.137690,...,0.022529,0.000000,0.276289,0.103319,0.000000,0.027862,0.137742,0.081981,1.000000,0.055258
999,0.099471,0.000000,0.038349,0.521862,0.210819,0.067516,0.060858,0.010758,0.005776,0.007223,...,0.000000,0.033976,0.000000,0.032053,0.015891,0.000000,0.301202,0.186824,0.055258,1.000000

In [73]:
df_table = df.pivot_table(index='user', columns='item',values='rate')# <- not to use
df_pvt = df_table.fillna(0)
#df_pvt = df_pvt.fillna(df_pvt.mean(axis=0))

user_similarity = pd.DataFrame(cosine_similarity(df_pvt), index=df_pvt.index, columns=df_pvt.index)
user_similarity

user,1,10,100,101,102,103,104,105,106,107,...,94,940,941,942,943,95,96,97,98,99
user,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.376544,0.057354,0.154457,0.397145,0.226111,0.231134,0.102414,0.288715,0.080152,...,0.480574,0.314072,0.148617,0.179508,0.398175,0.468911,0.361273,0.352280,0.135963,0.281790
10,0.376544,1.000000,0.066987,0.030877,0.288020,0.145788,0.156615,0.077478,0.284969,0.095741,...,0.418951,0.342961,0.090305,0.212330,0.221860,0.375380,0.341416,0.301478,0.140115,0.193943
100,0.057354,0.066987,1.000000,0.012998,0.171988,0.055922,0.375736,0.507451,0.041973,0.329853,...,0.090008,0.289131,0.099363,0.237968,0.000000,0.036854,0.000000,0.000000,0.006082,0.192041
101,0.154457,0.030877,0.012998,1.000000,0.153750,0.321378,0.268215,0.037979,0.035617,0.031846,...,0.160808,0.083545,0.237333,0.081874,0.232549,0.180604,0.086543,0.073269,0.000000,0.360147
102,0.397145,0.288020,0.171988,0.153750,1.000000,0.237494,0.215930,0.185148,0.123308,0.128144,...,0.439064,0.323743,0.164963,0.201437,0.383536,0.416339,0.281648,0.301406,0.169144,0.294568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.468911,0.375380,0.036854,0.180604,0.416339,0.230296,0.144948,0.019579,0.278008,0.010945,...,0.529910,0.330689,0.110761,0.247625,0.400270,1.000000,0.345199,0.343122,0.133712,0.278597
96,0.361273,0.341416,0.000000,0.086543,0.281648,0.226449,0.099971,0.000000,0.158699,0.000000,...,0.342054,0.276660,0.110265,0.231118,0.288281,0.345199,1.000000,0.308487,0.074055,0.216023
97,0.352280,0.301478,0.000000,0.073269,0.301406,0.148177,0.060202,0.000000,0.155511,0.000000,...,0.305776,0.291914,0.150569,0.220158,0.257559,0.343122,0.308487,1.000000,0.119453,0.160602
98,0.135963,0.140115,0.006082,0.000000,0.169144,0.030079,0.024732,0.000000,0.181077,0.029806,...,0.141533,0.152999,0.000000,0.124439,0.066392,0.133712,0.074055,0.119453,1.000000,0.079174
99,0.281790,0.193943,0.192041,0.360147,0.294568,0.246592,0.403630,0.127408,0.169480,0.104562,...,0.333846,0.313490,0.263907,0.169623,0.360144,0.278597,0.216023,0.160602,0.079174,1.000000

In [74]:
def get_similar_user(user_id):
    return user_similarity[user_id].sort_values(ascending=False)[:5]

In [75]:
get_similar_user("100")

user
100    1.000000
863    0.621852
784    0.600292
616    0.589742
856    0.580211
Name: 100, dtype: float64

In [76]:
def get_similar_item(item_id):
    return item_similarity[item_id].sort_values(ascending=False)[:5]

In [77]:
get_similar_item('10')

item
10     1.000000
190    0.400624
20     0.397113
582    0.385038
52     0.377012
Name: 10, dtype: float64

df_table = df.set_index(["user", "item"]).unstack()
#df.pivot_table(index='user', columns='item',values='rate') <- not to use
#df.set_index(["user", "item"]).unstack()
df_table.shape

df_table

df_table.corr()['1'].sort_values(ascending=False).head()

from scipy.sparse import csr_matrix
csr_matrix(df_table)

#Users who have not rated any moveis. 
df_table[df_table.isnull()]

#users who are likely give out low ratings in general
df.groupby('user').mean().sort_values(by='rate', ascending=True)[:10]

#users who are likely give out high ratings in general
df.groupby('user').mean().sort_values(by='rate', ascending=False)[:10]

df_table_norm.shape

### Pick a model

Matric factorization. factorize the user-itm matrix to get 2 latent factor matrics:
    - user-factor matrix
    - item -factor matric

Algorithms for matric factorization:
    - Alternating Least Squares (ALS)
    - Stochastic Gradient Descent (SGD)
    - Singular Value Decompostion (SVD)

cross_validate(SVD(), np.array(df_table_norm), 
               measures=['rmse'], cv=3, verbose=False)

In [78]:
cross_validate(SVD(), data, measures=['rmse'], cv=3, verbose=False)

{'test_rmse': array([0.94625516, 0.94886732, 0.94184534]),
 'fit_time': (3.2342946529388428, 3.118811845779419, 2.9881627559661865),
 'test_time': (0.23918628692626953, 0.21370196342468262, 0.22854232788085938)}

In [ ]:
benchmark = []

for algo in [SVD(), KNNBaseline(), KNNBasic(), BaselineOnly()]:
    results = cross_validate(algo, data, measures=['rmse'], 
                             cv=3, verbose=False)
    
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algo).split('.')[-1]] , index=['Algorithm']))
    benchmark.append(tmp)

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.

In [ ]:
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

### Pick an evaluation metric

### Hyperparameter Tuning
    - try to tune k (# of factors)
    - try to tune lambda regularization parameter
  
methods: 
- Grid Search 
    sklearn.model_selection.GridSearchCV
- Random Search
    sklearn.model_selection.RandomizedSearchCV
- Sequential Model-Based Optimization

### Model training
train model with optimal hyperparameters

### Post-processing
sort predicted ratings and get top N
Filter out items that a user has already has seen

### Evaluation
- A/B testing from users - most optimal method
- Traditional ML. 
- Recommendation systems. 

Precision and Recall

# model application

train, test = train_test_split(df, test_size=0.25, random_state=0)

In [ ]:
trainset = data.build_full_trainset()
testset = trainset.build_testset()

In [ ]:
algo = SVD()
algo.fit(trainset)

predictions = algo.test(testset)

In [ ]:
accuracy.rmse(predictions)

In [ ]:
predictions

from surprise import GridSearch
    # Select your best algo with grid search.
print('Grid Search...')
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005]}
grid_search = GridSearch(SVD, param_grid, measures=['RMSE'], verbose=1)
print(grid_search.best_params)
grid_search.evaluate(data)

In [ ]:
algo = SVD()  # SVD(n_factors=50, random_state=0)
results = cross_validate(algo, 
                         data,
                         measures = ['rmse'], 
                         cv=3,
                        verbose=True)

# Baseline model

In [ ]:
from surprise.model_selection import KFold

bsl_options = {
    'method': 'als', #ALS - Alternating Least Squares
    'n_epochs': 5,
    'reg_u': 12,
    'reg_i': 5
}
algo = surprise.BaselineOnly(bsl_options)

np.random.seed(0)
acc = np.zeros(3)
cv = KFold(3)
for i, (trainset, testset) in enumerate(cv.split(data)):
    algo.fit(trainset)
    predictions = algo.test(testset)
    acc[i] = surprise.accuracy.rmse(predictions, verbose=True)
acc.mean()

In [ ]:
cross_validate(algo, data)