In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("/Users/reejungkim/Documents/Git/Recommender-System/movie_ratings/movies.csv")
ratings = pd.read_csv("/Users/reejungkim/Documents/Git/Recommender-System/movie_ratings/ratings.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [5]:
data=pd.merge(ratings,movies,on="movieId")
column=['userId','movieId','rating','title','genres']
data=data[column]
data

,userId,movieId,rating,title,genres
0,1,2,3.5,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,Jumanji (1995),Adventure|Children|Fantasy
...,...,...,...,...,...
1048570,7066,88572,1.5,Fred: The Movie (2010),Comedy
1048571,7066,112412,4.5,Perfect Sisters (2014),Drama|Mystery
1048572,7077,32013,3.5,Loop the Loop (Up and Down) (Horem pádem) (2004),Comedy
1048573,7086,102596,4.5,180° South (180 Degrees South) (180° South: Co...,Documentary|Drama
1048574,7110,65651,2.0,Fire and Ice (2008),Adventure|Fantasy

In [6]:
# 아이템 기반 협업 필터링 
moviedata=data.pivot_table(index="movieId",  columns='userId')['rating']
moviedata

userId,1,2,3,4,5,6,7,8,9,10,...,7111,7112,7113,7114,7115,7116,7117,7118,7119,7120
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,4.0,NaN,NaN,5.0,NaN,4.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,5.0,4.5
2,3.5,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
3,NaN,4.0,NaN,NaN,NaN,3.0,3.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### sparsity calculation

In [7]:
#sparsity of matrix = Number of Empty cells / Total Number of cells.
sparsity =  np.isnan(moviedata.values).sum() / np.prod(moviedata.shape)
print("Sparsity: ", '{:2.2%}'.format(sparsity) )

Sparsity:  98.95%

In [8]:
#NaN값을 -1로 변경 ( 평점을 계산할 때 양수값만 처리하면 됌)
moviedata.fillna(-1, inplace=True)
moviedata

userId,1,2,3,4,5,6,7,8,9,10,...,7111,7112,7113,7114,7115,7116,7117,7118,7119,7120
movieId,,,,,,,,,,,,,,,,,,,,,
1,-1.0,-1.0,4.0,-1.0,-1.0,5.0,-1.0,4.0,-1.0,4.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,4.0,4.0,-1.0,5.0,4.5
2,3.5,-1.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,4.0
3,-1.0,4.0,-1.0,-1.0,-1.0,3.0,3.0,5.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,4.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,4.0,3.5,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130073,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
130219,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
130462,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
130490,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
130642,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [9]:
moviedata.loc[5,moviedata.loc[5,:]>0]

userId
12      2.0
24      2.0
30      2.5
46      3.0
54      3.0
       ...
7077    3.0
7081    3.0
7083    3.5
7115    4.0
7116    3.5
Name: 5, Length: 657, dtype: float64

#### KDD 분석 방법론
KDD(Knowledge Discovery in Database) 분석 방법론은 1996년 Fayyad가 소개한 방법론으로 데이터를 통해 통계적 패턴이나 지식을 찾을 수 있도록 정리한 데이터마이닝 프로세스이다

In [10]:
#kdd 유사도 함수 
from math import sqrt
def sim_distance(data, n1, n2):
    sum=0
    #두 사용자가 모두 본 영화를 기준으로 해야해서 i로 변수 통일(j따로 안 써줌)
    for i in data.loc[n1,data.loc[n1,:]>=0].index:
         if data.loc[n2,i]>=0:
            sum+=pow(data.loc[n1,i]-data.loc[n2,i],2) #누적합 
    return sqrt(1/(sum+1)) #유사도 형식으로 출력

In [11]:
# 나와 유사도가 높은 user 매칭 함수
def top_match(data, name, rank = 5, simf = sim_distance):
    simList = []
    for i in data.index[-10:]:
        if name != i:
            simList.append((simf(data, name, i), i))
    simList.sort()
    simList.reverse()    
    return simList[:rank]

In [12]:
top_match(moviedata, 25)

[(1.0, 130490), (1.0, 130219), (1.0, 130073), (1.0, 129707), (1.0, 129354)]

In [13]:
# 추천 시스템 함수
def recommendation(data, person, simf = sim_distance):
    res = top_match(data, person, len(data))
    score_dic = {}
    sim_dic = {}
    myList = []
    for sim, name in res:
        if sim < 0:
            continue
        for movie in data.loc[person, data.loc[person, :] < 0].index:
            simSum = 0
            if data.loc[name, movie] >= 0:
                simSum += sim * data.loc[name, movie]
                
                score_dic.setdefault(movie, 0)
                score_dic[movie] += simSum
                
                sim_dic.setdefault(movie, 0)
                sim_dic[movie] += sim                
    for key in score_dic:
        myList.append((score_dic[key] / sim_dic[key], key))
    myList.sort()
    myList.reverse()
    
    return myList

In [14]:
# 25번 user가 안본 영화중에서 
#추천 점수가 가장 높은 순으로 예상평점과 영화제목을 추천 (10개까지)
movieList = []
for rate, m_id in recommendation(moviedata, 25):
    movieList.append((rate, movies.loc[movies['movieId'] == m_id, 'title'].values[0]))
movieList[:10]

[(4.5, "Dracula (Bram Stoker's Dracula) (1992)"),
 (3.5, 'Born Yesterday (1993)'),
 (3.5, 'Great Muppet Caper, The (1981)'),
 (3.5, 'Return with Honor (1998)'),
 (3.0, 'Left Behind II: Tribulation Force (2002)'),
 (2.5, 'Bully (2001)'),
 (1.0, "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)"),
 (0.5, 'Here on Earth (2000)')]

#### Cosine similarity

In [15]:
userdata= data.pivot_table(index="userId",  columns='movieId')['rating']
userdata.fillna(0, inplace=True)

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

pd.DataFrame(cosine_similarity(userdata), index=userdata.index , columns = userdata.index)

userId,1,2,3,4,5,6,7,8,9,10,...,7111,7112,7113,7114,7115,7116,7117,7118,7119,7120
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.102916,0.261198,0.029091,0.139199,0.029488,0.112060,0.060641,0.062589,0.136902,...,0.111705,0.024332,0.068812,0.070645,0.072708,0.199134,0.184821,0.073167,0.061347,0.073745
2,0.102916,1.000000,0.180124,0.064014,0.140042,0.092464,0.160006,0.103785,0.000000,0.101933,...,0.032184,0.000000,0.101155,0.029610,0.056683,0.097934,0.131996,0.072786,0.096771,0.101421
3,0.261198,0.180124,1.000000,0.057323,0.156755,0.063552,0.207623,0.087128,0.053957,0.273834,...,0.067894,0.065551,0.115196,0.140032,0.094147,0.211351,0.244160,0.156375,0.142090,0.039053
4,0.029091,0.064014,0.057323,1.000000,0.300828,0.040654,0.073242,0.307392,0.042953,0.025546,...,0.073765,0.050096,0.414432,0.000000,0.291746,0.078976,0.230812,0.000000,0.230159,0.024401
5,0.139199,0.140042,0.156755,0.300828,1.000000,0.234223,0.169685,0.304162,0.000000,0.138848,...,0.088054,0.000000,0.420953,0.053778,0.362804,0.166011,0.339279,0.090617,0.365986,0.140729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7116,0.199134,0.097934,0.211351,0.078976,0.166011,0.057497,0.194971,0.130424,0.071409,0.124021,...,0.098213,0.055693,0.127347,0.123116,0.119897,1.000000,0.252682,0.080021,0.147133,0.105743
7117,0.184821,0.131996,0.244160,0.230812,0.339279,0.148712,0.181100,0.328350,0.040344,0.159959,...,0.133959,0.025168,0.349258,0.117570,0.346457,0.252682,1.000000,0.073348,0.265910,0.144499
7118,0.073167,0.072786,0.156375,0.000000,0.090617,0.000000,0.055743,0.042786,0.000000,0.129616,...,0.000000,0.045936,0.035576,0.116131,0.034736,0.080021,0.073348,1.000000,0.051628,0.000000
7119,0.061347,0.096771,0.142090,0.230159,0.365986,0.096404,0.114629,0.588750,0.038196,0.053005,...,0.078959,0.000000,0.500787,0.043992,0.503114,0.147133,0.265910,0.051628,1.000000,0.237236
7120,0.073745,0.101421,0.039053,0.024401,0.140729,0.302302,0.056628,0.239764,0.000000,0.082027,...,0.000000,0.007937,0.189253,0.000000,0.198251,0.105743,0.144499,0.000000,0.237236,1.000000

In [17]:
#피어슨 상관계수
def sim_pearson(data, n1, n2): 
    #구현
    sumX=0
    sumY=0
    sumSqX=0 # x 제곱합 
    sumSqY=0 # y 제곱합 
    sumXY=0 #XY 합
    cnt =0 #영화 갯수 
    for i in data.loc[n1,data.loc[n1,:]>=0].index:
        if  data.loc[n2,i]>=0:
            sumX+=data.loc[n1,i]
            sumY+=data.loc[n2,i]
            sumSqX+=pow(data.loc[n1,i],2)
            sumSqY+=pow(data.loc[n2,i],2)
            sumXY+=(data.loc[n1,i])*(data.loc[n2,i])
            cnt+=1
            global num # 전역변수 선언
            global den # 전역변수 선언
            num=sumXY-((sumX*sumY)/cnt)
            den= (sumSqX-(pow(sumX,2)/cnt))*(sumSqY-(pow(sumY,2)/cnt))
    return num/sqrt(den+0.00001) # 분모=0방지